/*************font-colors*************/
$white:#ffffff;
$light-grey: rgba(255,255,255,0.5);
$darker-grey: rgba(255,255,255,0.05);


/*************font-colors*************/
$univers-color: $white;
$border-color: $light-grey;
