@import '../mixins/_fontMixins.scss';

/*************font-family*************/
$univers-font-family: "Josefin Sans", sans-serif;

/*************font-colors*************/
$font-size-50: pxToRem(50);
$font-size-40: pxToRem(40);
$font-size-24: pxToRem(24);
$font-size-16: pxToRem(16);
$font-size-12: pxToRem(12);
