
/************glassmorphism-variables************/
$glass-bg-color:rgba( 255, 255, 255, 0.35);
$glass-box-shadow: 0 pxToRem(8) pxToRem(32) 0 rgba( 31, 38, 135, 0.37);
$glass-backdrop-filter: blur(14.5px);
$glass-border-radius: pxToRem(10);
$glass-border: pxToRem(1) solid rgba(255, 255, 255, 0.18);
